.day {
width: 100%;
border: 1px solid #000;
border-radius: 10px;
margin: 30px auto;
display: block;

p {
  font-size: 1.2rem;

  &.low-temp {
    font-size: 0.8rem;
  }
}

  @media only screen and (min-width: 945px) {
    // width: 17%;
    width: calc(1/6 * 100%);;
    display: inline-block;
    margin: 1%;
  }
}